* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
h1,
h2 {
  text-align: center;
}
img {
  display: block;
  height: 400px;
  margin: 0 auto;
}
ul {
  width: min-content;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li {
  width: 6rem;
  height: 4rem;
}

#picker {
  height: 100%;
  width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple {
  background: rgba(241, 63, 247, 1);
}
#green {
  background: rgba(0, 253, 81, 1);
}
#blue {
  background: rgba(0, 254, 255);
}
